* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

img {
    display: block;
}

h1 {
    text-transform: uppercase;
}

input, select {
    outline: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.small_container {
    max-width: 1024px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}