header {

    .top_header {

        a {
            text-transform: uppercase;

            span.r {
                font-size: 16px;
                vertical-align: middle;
            }

            span.sm {
                font-size: 6px;
                vertical-align: super;
                font-weight: bold;
            }

            i {
                vertical-align: text-top;
            }
        }

        .top_menu {
            background-color: $brand_primary_color;
            text-align: right;
            font-size: 11px;
            font-weight: bold;
            padding: 3px 0;

            li {
                display: inline-block;
                margin-left: 40px;

                a {
                    color: white;
                }
            }
        }

        .bottom_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                padding: 20px 0;
    
                img {
                    height: 90px;
                    width: auto;
                }
            }

            nav {

                li {
                    display: inline-block;
                    margin: 0 10px;
    
                    a {
                        color: $brand_third_color;
                        font-weight: bold;
                        padding: 52px 0;

                        &.active {
                            color: $brand_primary_color;
                            border-bottom: 5px solid $brand_primary_color;
                        }

                        &:hover {
                            color: $brand_primary_color;
                            border-bottom: 5px solid $brand_primary_color;
                        }
                    }
                }

                i {
                    color: $brand_primary_color;
                    vertical-align: text-top;
                }
            }

            .search {

                position: relative;

                input {
                    width: 150px;
                    padding: 0 25px 5px 0;
                    color: $brand_third_color;
                    text-align: right;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 2px solid $brand_primary_color;
    
                    &::placeholder {
                        font-family: 'PT Sans', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        color: $brand_third_color;
                    }
                }

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    color: $brand_third_color;
                }
            }


        }

    }

    .bottom_header {
        height: 400px;
        background-image: url("../img/jumbotron.jpg");
    }

}