main {

    .title {
        display: inline-block;
        background-color: $brand_primary_color;
        padding: 10px 20px;
        position: relative;
        top: -50px;
        left: 0;

        h1 {
            font-size: 20px;
        }
    }

    #comics {
        background-color: $brand_secondary_color;
        padding: 20px 0;

        .comics_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .single_comic {

                a {
                    color: white;
                }

                width: calc((100% / 6) - 25px);
                margin-bottom: 50px;

                span {
                    text-transform: uppercase;
                    font-size: 14px;
                }

                .comic_img {
                    width: 180px;
                    height: 180px;
                    margin-bottom: 20px;
                    overflow: hidden;
                }
                
            }
        }

        .load_more {

            text-align: center;

            button {
                font-family: 'PT Sans', sans-serif;
                font-weight: bold;
                font-size: 14px;
                color: white;
                padding: 10px 50px;
                background-color: $brand_primary_color;
                border: 0;
                cursor: pointer;
            }
        }
    }

    #links {

        background-color: $brand_primary_color;
        padding: 50px 0;

        .links_container {
            display: flex;
            justify-content: space-around;

            img {
                height: 50px;
                max-width: 50px;
                vertical-align: middle;
                margin: 0 10px;
            }

            span {
                text-transform: uppercase;
            }
        }
    }

    #characters {
        padding: 20px 0;
        background-color: $brand_secondary_color;
    }

    #comic_info {

        .banner {
            height: 80px;
            background-color: $brand_primary_color;
        }

        .comic_poster {
            position: relative;
            top: -230px;
            left: 0;
        }

        .comic_details {

            padding: 50px 0;

            .small_container {
                display: flex;

                .col_sx {
                    width: 70%;
                    padding-right: 25px;
                }

                .col_dx {
                    width: 30%;
                    padding-left: 25px;
                    text-align: right;
                }
            }

            .comic_description {
                color: gray;
                margin: 10px 0;
                line-height: 25px;
            }
            
            .comic_title {
                color: $brand_third_color;
                margin: 20px 0;

                h1 {
                    font-size: 30px;
                    text-transform: uppercase;
                }
            }

            .comic_shop {
                font-weight: bold;
                background-color: #55ba59;
                border-bottom: 1px solid $brand_third_color;
                display: flex;
                justify-content: space-between;

                .comic_price {
                    padding: 13px 23px;
                    flex-grow: 1;

                    .us_price {
                        color: #aef894;
                    }
                }

                .disponibility {
                    padding: 13px 23px;
                    color: #aef894;
                }

                .check_availability {
                    padding: 13px 23px;
                    border-left: 1px solid $brand_third_color;

                    i {
                        vertical-align: top;
                    }
                }
            }

        }

        .adv {
            color: $brand_third_color;
            font-weight: bold;
        }

        .adv_img {
            img {
                width: 100%;
            }
        }
    }
}