.title {
    display: inline-block;
    background-color: $brand_primary_color;
    padding: 10px 20px;
    position: relative;
    top: -50px;
    left: 0;

    h1 {
        font-size: 30px;
    }
}

main {

    #comics {
        background-color: $brand_secondary_color;
        padding: 20px 0;

        .comics_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .single_comic {

                a {
                    color: white;
                }

                width: calc((100% / 6) - 25px);
                margin-bottom: 50px;

                .comic_img {
                    width: 180px;
                    height: 180px;
                    margin-bottom: 20px;
                    overflow: hidden;
                }
                
                .comic_title {
                    
                    h2 {
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .load_more {

            text-align: center;

            button {
                font-family: 'PT Sans', sans-serif;
                font-weight: bold;
                font-size: 14px;
                color: white;
                padding: 10px 50px;
                background-color: $brand_primary_color;
                border: 0;
                cursor: pointer;
            }
        }
    }

    #links_hompage {

        background-color: $brand_primary_color;
        padding: 50px 0;

        .links_container {
            display: flex;
            justify-content: space-around;

            img {
                height: 50px;
                max-width: 50px;
                vertical-align: middle;
                margin: 0 10px;
            }

            span {
                text-transform: uppercase;
            }
        }

        .single_link {
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
        }
    }

    #characters {
        padding: 20px 0;
        background-color: $brand_secondary_color;
    }

    #comic {

        .banner {
            height: 80px;
            background-color: $brand_primary_color;
        }

        .comic_poster {
            position: relative;
            top: -230px;
            left: 0;
        }

        .comic_info {

            padding: 50px 0;

            .small_container {
                display: flex;

                .col_sx {
                    width: 70%;
                    padding-right: 25px;
                }

                .col_dx {
                    width: 30%;
                    padding-left: 25px;
                    text-align: right;
                }
            }

            .comic_description {
                color: gray;
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
                line-height: 25px;
            }
            
            .comic_title {
                color: #244d66;
                margin: 20px 0;

                h1 {
                    font-size: 30px;
                    text-transform: uppercase;
                }
            }

            .comic_shop {
                font-weight: bold;
                background-color: #55ba59;
                border-bottom: 1px solid $brand_third_color;
                display: flex;
                justify-content: space-between;

                .comic_price {
                    padding: 13px 23px;
                    flex-grow: 1;

                    .us_price {
                        color: #aef894;
                    }
                }

                .disponibility {
                    padding: 13px 23px;
                    color: #aef894;
                }

                .check_availability {
                    padding: 13px 23px;
                    border-left: 1px solid $brand_third_color;

                    i {
                        vertical-align: top;
                    }
                }
            }

        }

        .adv {
            color: $brand_third_color;
            font-weight: bold;
        }

        .adv_img {
            img {
                width: 100%;
            }
        }

        .comic_specs {
            background-color: #f6f6f6;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding-bottom: 100px;
            color: gray;

            .small_container {
                display: flex;

                .col_sx {
                    width: 50%;
                    padding-right: 25px;
                }

                .col_dx {
                    width: 50%;
                    padding-left: 25px;
                }
            }

            .talent, .specs {
                border-bottom: 1px solid lightgray;
                padding: 20px 0;
                color: #244d66;
            }

            .artists,
            .writers,
            .series,
            .price,
            .sale_date {
                border-bottom: 1px solid lightgray;
                padding: 10px 0;
                display: flex;
                font-size: 13px;
                font-weight: bold;

                .artists_title,
                .writers_title,
                .series_title,
                .price_title,
                .sale_date_title {
                    width: 30%;
                    color: #244d66;
                }

                .artists_list,
                .writers_list,
                .series_link {
                    width: 70%;
                    
                    a {
                        color: $brand_primary_color;
                    }
                }

                .series_link {
                    text-transform: uppercase;
                }
            }

            li {
                display: inline-block;
            }
        }
    }

    #link_comic {
        background-color: #f6f6f6;
    }
}