main {

    #comics {
        background-color: $brand_secondary_color;
        padding: 20px 0;

        .title {
            display: inline-block;
            text-transform: uppercase;
            font-size: 20px;
            background-color: $brand_primary_color;
            padding: 10px 20px;
            position: relative;
            top: -50px;
            left: 0;
        }

        .comics_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .single_comic {

                width: calc((100% / 6) - 25px);
                margin-bottom: 50px;

                span {
                    text-transform: uppercase;
                    font-size: 14px;
                }

                .comic_img {
                    width: 180px;
                    height: 180px;
                    margin-bottom: 20px;
                    overflow: hidden;
                }
                
            }
        }

        .load_more {

            text-align: center;

            button {
                font-family: 'PT Sans', sans-serif;
                font-weight: bold;
                font-size: 14px;
                color: white;
                padding: 10px 50px;
                background-color: $brand_primary_color;
                border: 0;
                cursor: pointer;
            }
        }
    }

    #links {

        background-color: $brand_primary_color;
        padding: 50px 0;

        .links_container {
            display: flex;
            justify-content: space-around;

            img {
                height: 50px;
                max-width: 50px;
                vertical-align: middle;
                margin: 0 10px;
            }

            span {
                text-transform: uppercase;
            }
        }
    }

}